{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags article_utils %}

<div class="ui main text container justified raised clearing very padded segment">

    {% if article.categories.exists %}
        <div class="ui top right attached label">
            <a href="{% namespace_url 'article-list-by-category' article.categories.first.slug namespace=namespace default='' %}">
                {{ article.categories.first.name }}
            </a>
        </div>
    {% endif %}

    <h1 class="ui header center aligned">
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article 'title' %}</a>
    </h1>

    <div class="ui grid centered m-b-20">
        <div class="ui horizontal list">
            <div class="item m-t-10 m-l-10 m-r-10">
                <i class="user outline icon"></i>
                <div class="content">
                    <a style="color: rgba(0, 0, 0, 0.87);"
                            href="{% namespace_url 'article-list-by-author' article.author.slug namespace=namespace default='' %}">
                        {{ article.author }}
                    </a>
                </div>
            </div>
            <div class="item m-t-10 m-l-10 m-r-10">
                <i class="calendar alternate outline icon"></i>
                <div class="content">
                    {{ article.publishing_date|date:'F d, Y' }}
                </div>
            </div>
            <div class="item m-t-10 m-l-10 m-r-10">
                <i class="clock outline icon"></i>
                <div class="content">
                    {{ article.lead_in|get_read_time }}
                </div>
            </div>
        </div>
    </div>

    {% if article.featured_image_id %}
        <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}"
           class="ui fluid rounded centered image">
            <img src="{% thumbnail article.featured_image 700x394 crop subject_location=article.featured_image.subject_location %}"
                 alt="{{ article.featured_image.alt }}" title="{{ article.featured_image.title }}">
        </a>
    {% endif %}

    {% if article.lead_in %}
        <p>{% render_model article 'lead_in' '' '' 'truncatewords:"40"' %}</p>
    {% endif %}

    {% if article.tags %}
        <div class="ui four column grid stackable">
            <div class="two column row">
                <div class="column middle aligned">
                    {% for tag in article.tags.all %}
                        <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}"
                           class="ui label">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="column">
                    <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}"
                       class="ui large right floated primary button">
                        Read More...</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
