{% load staticfiles i18n cms_tags sekizai_tags %}
<div class="ui inverted vertical footer segment">
    <div class="ui justified container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="six wide column">
                <h4 class="ui inverted header">About Mython</h4>
                <p>Hi, I... am Majid Rouhi, a software engineer from Iran. <a href="https://www.python.org/"
                                                                              title="Python">Python</a> and <a
                        href="https://en.wikipedia.org/wiki/Linux" title="Python">Linux</a> lover. I've decided to share
                    my experiences during my projects with Python, <a href="https://en.wikipedia.org/wiki/Linux"
                                                                      title="Python">Django</a> and website developments
                    :)</p>
                <p>
                    Content on Mython is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
                </p>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Contact Me</h4>
                <p>You can contact me from here:</p>
                <a href="mailto:mrouhi13@gmail.com" class="ui icon button large">
                    <i class="envelope icon"></i>
                </a>
                <a href="https://tiwtter.com/mrouhi13" class="ui icon button twitter large">
                    <i class="twitter icon"></i>
                </a>
                <a href="https://stackoverflow.com/users/8332715/majid-rouhi" class="ui icon button orange large">
                    <i class="stack overflow icon"></i>
                </a>
                <a href="https://github.com/mrouhi13" class="ui icon button grey large">
                    <i class="github icon"></i>
                </a>
            </div>
            <div class="two wide column">
                <h4 class="ui inverted header">Links</h4>
                <div class="ui inverted link list">
                    <a href="https://laum.ir" class="item">Laum Project</a>
                    <a href="https://djecrety.ir" class="item">Djecrety</a>
                </div>
            </div>
        </div>
    </div>
</div>
