{% load staticfiles i18n cms_tags sekizai_tags %}

<div class="ui inverted vertical footer segment">
    <div class="ui justified container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="six wide column">
                <h4 class="ui inverted header">About Me</h4>
                {% static_placeholder 'footer_about' %}
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">Contact Me</h4>
                {% static_placeholder 'footer_contact' %}
            </div>
            <div class="two wide column">
                <h4 class="ui inverted header">Links</h4>
                <div class="ui inverted link list">
                    {% static_placeholder 'contact_links' %}
                </div>
            </div>
        </div>
    </div>
</div>
