{% extends 'base.html' %}
{% load staticfiles i18n cms_tags apphooks_config_tags menu_tags %}

{% block newsblog_content %}
    <div class="ui inverted vertical masthead center aligned segment"
         style="background-image: url('{% static '/images/home-header.jpg' %}') !important;">
        <div class="ui container">
            <div class="ui large secondary inverted menu">
                <a class="ui middle aligned rounded image" href="/"><img
                        src="{% static 'images/favicon/favicon.ico' %}"></a>
                {% show_menu 0 0 100 100 'aldryn_newsblog/includes/menu.html' %}
            </div>
            <h1 class="ui inverted header">
                {% page_attribute 'page_title' %}
            </h1>
            <h2>The cake is a lie.</h2>
        </div>
    </div>
    <div class='ui vertical stripe segment'>
        <div class="ui grid centered m-b-20">
            <div class="ui horizontal bulleted list grey">
                <a href="/" class="item">
                    All
                </a>
                <a href="/category/tutorials" class="item">
                    Tutorials
                </a>
                <a href="/category/tips" class="item">
                    Tips
                </a>
            </div>
        </div>

        {% for article in article_list %}
            {% include 'aldryn_newsblog/includes/article.html' %}
        {% empty %}
            <div class="ui main text container center aligned justified raised very padded segment">
                <p>{% trans 'No items available' %}</p>
            </div>
        {% endfor %}
    </div>

    {% include 'aldryn_newsblog/includes/pagination.html' %}
{% endblock %}
